<div id="visualize_icons">
	<span id="webcam_button" data-bind="click: toggle_webcam_view, css: { over: webcam_view }" ></span>
	<span id="gcode_button" data-bind="click: toggle_gcode_view, css: { over: gcode_view }"></span>
</div>
<div id="renderArea" class="gcode_viewer span4 pull-right" style="vertical-align: middle; background-color: #ffffff; width: 100%" data-bind="visible: gcode_view">
    <div id = "UIBar" class="ui_bar">
        <button id="resetPosBtn" class="btn btn-mini pull-right" data-bind="click: reset_model_position" style="margin-right: 5px; padding: 0px 8px; background-color: Transparent" title="Reset">
            <img src="/static/img/reset_camera.svg" class="visualizer_btn_img">
        </button>
        <button id="toggleSnapBtn" class="btn btn-mini pull-right" data-bind="click: toggleSnap" style="margin-right: 5px; padding: 0px 5px; background-color: Transparent" title="Snap Camera">
            <img id="snapImg" src="/static/img/object_unlock.svg" class="visualizer_btn_img">
        </button>
        <button id="toggleTravelBtn" class="btn btn-mini pull-right" data-bind="click: toggle_extrude" style="margin-right: 5px; padding: 0px 5px; background-color: Transparent" title="Hide Travel">
            <img id="travelImg" src="/static/img/travel_hide.svg" class="visualizer_btn_img">
        </button>
    </div>
    <div id = "DimensionView" class="toggle3d_button">
        <button id = "toggle23DBtn" class="btn btn-mini" data-bind="click: toggle23D" style="padding: 5px 5px; background-color: Transparent; display:none" title="Switch to 2D View">
            <img id="23DImg" src="/static/img/layer_all.svg" class="visualizer_btn_img">
        </button>
    </div>
        <div class ="vertical_center" style="position: absolute; left: 9px; width: 10%; height: auto">
        <div id = "incLayerBtn" class="layer_button">
            <button class="btn btn-mini" data-bind="click: increase_layer" style="padding: 0px 0px; background-color: Transparent">
                <img src="/static/img/arrow_up_wire.svg" style="height:20px; width:20px" onmouseover="this.src='/static/img/arrow_up_fill.svg'" onmouseout="this.src='/static/img/arrow_up_wire.svg'">
            </button>
        </div>
        <input id="layerControl" data-slider-id="layer_slider" data-slider-handle="square" type="hidden"/>
        <div id = "decLayerBtn" class="layer_button">
            <button class="btn btn-mini" data-bind="click: decrease_layer" style="padding: 0px 0px; background-color: Transparent">
                <img src="/static/img/arrow_down_wire.svg" style="height:20px; width:20px" onmouseover="this.src='/static/img/arrow_down_fill.svg'" onmouseout="this.src='/static/img/arrow_down_wire.svg'">
            </button>
        </div>
    </div>
    <div id="LoadingImage" class="vertical_center" style="display: none; margin: auto; width: 100%">
        <div class="progress-pie-chart-outer">
            <div class="progress-pie-chart">
                <div class="ppc-progress">
                    <div class="ppc-progress-mask"></div>
                    <div class="ppc-progress-fill"></div>
                </div>
                <div class="progress-pie-chart-inner"></div>
                <div id="percentCircle" class="ppc-percents" data-bind="click: stop_render">
                    <div class="pcc-percents-wrapper">
                        <span>%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="renderingMsg" data-bind="html: render_progress()">
        </div>
    </div>
    <div id="modelNotRendered" class="vertical_center" style="margin: auto; width: 100%">
        <button id="renderFileBtn" class="load_file_button" data-bind="click: render_3dpreview, enable: isFileLoaded, style: {opacity: isFileLoaded()?1:0.3}">
            <img id="renderBtnImg" src="/static/img/render_button.svg" style="width:130px;height:130px">
        </button>
        <div class="renderFileMsg" data-bind="text: isFileLoaded()? 'Render Printing File':'Select File to Preview'">
            Render Printing File
        </div>
    </div>
</div>
{% if webcamStream %}
    <div id="webcam_container" tabindex="0" data-bind="visible: webcam_view">
        <img id="webcam_image" data-bind="css: { flipH: webcam_flipH(), flipV: webcam_flipV() }">
    </div>
{% endif %}
